<p style="color: green"><%= notice %></p>

<%= render @practise_style %>

<div>
  <%= link_to "Edit this practise style", edit_practise_style_path(@practise_style) %> |
  <%= link_to "Back to practise styles", practise_styles_path %>

  <%= button_to "Destroy this practise style", @practise_style, method: :delete %>
</div>
