<%= form_with(model: study) do |form| %>
  <% if study.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(study.errors.count, "error") %> prohibited this study from being saved:</h2>

      <ul>
        <% study.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.label :targetTempo, style: "display: block" %>
    <%= form.number_field :targetTempo %>
  </div>

  <div>
    <%= form.label :curTempo, style: "display: block" %>
    <%= form.number_field :curTempo %>
  </div>

  <div>
    <%= form.label :backingTrack, style: "display: block" %>
    <%= form.text_field :backingTrack %>
  </div>

  <div>
    <%= form.label :practiseStyle_id, style: "display: block" %>
    <%= form.text_field :practiseStyle_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
