<div id="<%= dom_id study %>">
  <p>
    <strong>Title:</strong>
    <%= study.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= study.content %>
  </p>

  <p>
    <strong>Targettempo:</strong>
    <%= study.targetTempo %>
  </p>

  <p>
    <strong>Curtempo:</strong>
    <%= study.curTempo %>
  </p>

  <p>
    <strong>Backingtrack:</strong>
    <%= study.backingTrack %>
  </p>

  <p>
    <strong>Practisestyle:</strong>
    <%= study.practiseStyle_id %>
  </p>

</div>
