<div id="<%= dom_id study %>">
  <p>
    <strong>Title:</strong>
    <%= study.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= study.content %>
  </p>

  <p>
    <strong>Target tempo:</strong>
    <%= study.target_tempo %>
  </p>

  <p>
    <strong>Cur tempo:</strong>
    <%= study.cur_tempo %>
  </p>

  <p>
    <strong>Backing track:</strong>
    <%= study.backing_track %>
  </p>

  <p>
    <strong>Style:</strong>
    <%= study.style_id %>
  </p>

</div>
